@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --yellow: #7D6608;
  --blue: #34568B;
  --blue-two: #154360;
  --blue-three: #004B8D;
  --green: #009B77;
  --green-two: #0B5345;
  --dark: #1B2631;
  --light: #DFCFBE;
  --red: #77212E;
  --red-two: #520505;
  --sailor-blue: #2E4A62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--dark);
  color: #fff;
  line-height: 1.5;
  height: 100vh;
}

.navbar {
  background: var(--blue);
  height: 12%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
}

.container ul {
  list-style-type: none;
  display: flex;
  padding: 0 5%;
}

.container h1 {
  font-size: 45px;
  padding: 0 8%;
}

.container a{
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  margin-left: 2rem;
}
.container a:hover, .container h1:hover, .container .current {
  color: wheat;
  cursor: pointer;
}


/*  END OF NAV */

.header {
  height: 600px;
  margin-bottom: 50px;
  position: relative;
  background-color: #000;
}
.fg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.fg > div {
  text-align: center;
}
.header button {
  width: 20%;
  height: 10%;
  background: var(--red);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.header button:hover {
  background: var(--red-two);
  transition: ease-out .6s;
  cursor: pointer;
}
.bg {
  background: url(images/background.jpg);
  opacity: .3;

  height: 100%;
}

/* END OF HEADER */ 
section h2 {
  padding: 5%;
}

#section-container {
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section-container div {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  background: var(--green-two);
  position: relative;
  margin: 20px 10px;
  border-radius: 10px;
  height: 30%;
}
#section-container div:hover {
  cursor: pointer;
  background: var(--blue);
  transition: ease-in .5s;
}
div span {
  position: absolute;
  bottom: 12%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;
}
div img {
  width: 80%;
  margin: 0 0 30% 0;
}

#section-container #cart, #section-container #buy {
  position: absolute;
  right: 10%;
  width: 40%;
  height: 12%;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
}
#cart {
  bottom: 17%;
  background: #807719;
}
#cart:hover {
  background: var(--yellow);
  transition: ease-in .5s;
}
#buy {
  bottom: 3%;
  background: var(--red);
}
#buy:hover {
  background: var(--red-two);
  transition: ease-in .5s;
}

footer {
  height: 300px;
}
@media(max-width: 1199px) {
  .container h1 {
    padding: 0;
    font-size: 36px;
  }
  .container a {
    font-size: 18px;
  }
  .container ul {
    padding: 0 0;
  }
  .header .bg {
    background:#00A170;
    opacity: .4;
  }
  .header button {
    width: 30%;
    font-size: 18px;
  }
}
@media(max-width: 768px) {
  .container {
    padding: 0 6%;
    line-height: 1;
  }
  .container h1 {
    font-size: 30px;
  }
  .container a {
    margin-left: .5rem;
    font-size: 18px;
  }

}